.calc-button-div {
  padding: 8px;
  box-sizing: border-box;
}

.calc-button {
  width: 100%;
  height: 100%;
  border-radius: calc((25vw - 16px) / 2);
  outline: none;
  border: none;
  font-size: 8vw;
  font-weight: bold;
}

.calc-col-1 {
  width: 25%;
}
.calc-col-2 {
  width: 50%;
}

.calc-variant-1 {
  text-align: center;
  padding: 0px;
}

.calc-variant-2 {
  text-align: left;
  padding-left: 8vw;
}

.calc-orange {
  background-color: #ff9000;
  color: #ffffff;
  transition: 0.2s all ease-in-out;
}

.calc-orange:active {
  background-color: #feba62;
}

.calc-orange-active {
  color: #feba62 !important;
  background-color: #ffffff !important;
  transition: 0.2s all ease-in-out;
}

.calc-lightgray {
  background-color: #A0A0A0;
  color: #000000;
  transition: 0.2s all ease-in-out;
}

.calc-lightgray:active {
  background-color: #e6e6e6;
}

.calc-gray {
  background-color: #323232;
  color: #ffffff;
  transition: 0.2s all ease-in-out;
}

.calc-gray:active {
  background-color: #979797;
}

.fa-adjust  {
  font-size: 7vw;
  position: relative;
  top: 1px;
}
