.calc-display-value {
  left: 0px;
  bottom: 0px;
  position: absolute;
  width: 100vw;
  height: 35vw;
  padding: 5vw;
  box-sizing: border-box;
  font-size: 22vw;
  line-height: 30vw;
  vertical-align: middle;
  text-align: right;
  color: #ffffff;
}
