.App {
  height: 100vh;
  width: 100vw;
  max-width: 60vh;
  background-color: black;
  margin: 0px auto;
  padding: 40px 0px;
  box-sizing: border-box;
}

.calc-display {
  width: 100vw;
  height: calc(100vh - 125vw - 80px);
  position: relative;
}

.calc-keys {
  width: 100vw;
  height: 125vw;
}

.calc-row {
  display: flex;
  height: 25vw;
}
